@media (min-width: 1000px) {
    #mainMenu:not(.main-nav) {
        display: none;
    }

    h2 {
        font-size: 1.5rem;
    }

    .container {
        max-width: 100%;
    }

    #spellTable {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
    }

    .spell-item {
        margin: 0 !important;
        font-size: .8rem;
    }
}
